.bio{
    width: 100%;
    height: 4em;
    overflow-y: scroll;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #4B6A9B;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.bio::-webkit-scrollbar {
    display: none;
  }